.references-template {
    @apply relative;
    &__quote {
        p {
            @apply mb-0;
        }
    }
    &__image {
        height: 360px;
    }
    &::before {
        content: ' ';
        width: 770px;
        height: 440px;
        @apply hidden absolute left-0 border-r-4 border-b-4 border-t-4 border-brand-primary top-brand-40 z-0;
    }
    &--alt {
        &::before {
            content: ' ';
            width: 780px;
            height: 320px;
            @apply hidden absolute right-0 border-l-4 border-b-4 border-t-4 border-brand-primary top-brand-1/3 z-0;
        }
    }
    &__heading {
        p {
            @apply mb-0;
        }
    }
}

@screen lg {
    .references-template {
        &::before {
            @apply block;
        }

        &--alt {
            &::before {
                @apply block;
            }
        }

        &__image {
            width: 620px;
        }
    }
}